
@media screen and (min-width:769px)
{
    .corporate-top {


        .overview {
            width: 100%;
            max-width: 1240px;
            margin: 0 auto;
            text-align: center;
            padding: 0 80px;

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
                margin: 50px 0;
            }

            dl {
                width: 100%;
                border-top: solid 1px #eee;
                padding: 33px 0;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: justify;
                justify-content: space-between;
                text-align: left;

                > dt {
                    -ms-flex-preferred-size: 23%;
                    flex-basis: 23%;
                    font-size: 16px;
                    font-size: 1.6rem;
                    line-height: 1.6875em;
                    letter-spacing: .1em;
                }

                > dd {
                    -ms-flex-preferred-size: 74.33333%;
                    flex-basis: 74.33333%;
                    font-size: 16px;
                    font-size: 1.6rem;
                    line-height: 1.6875em;
                    letter-spacing: .1em;
                    color: #333;

                    > dl {
                        display: -ms-flexbox;
                        display: flex;
                        border: none;
                        padding: 0;
                        margin-bottom: 5px;

                        > dt {
                            -ms-flex-preferred-size: 215px;
                            flex-basis: 215px;
                            font-size: 16px;
                            font-size: 1.6rem;
                            line-height: 1.6875em;
                            letter-spacing: .1em;
                            font-weight: 100;
                        }

                        > dd {
                            font-size: 16px;
                            font-size: 1.6rem;
                            line-height: 1.6875em;
                            letter-spacing: .1em;
                        }
                    }
                }
            }
        }

        .facility {
            width: 100%;
            max-width: 1240px;
            margin: 0 auto;
            text-align: center;

            span, p, h2, h3 {
                color: #454545;
            }

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
            }

            .inner {
                max-width: 600px;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                padding: 50px 0;

                img {
                    width: 300px;
                }
            }
        }

        .access {
            width: 100%;
            text-align: center;

            span, p, h2, h3 {
                color: #454545;
            }

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
            }

            .place {
                padding-top: 30px;

                .area {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                }

                .text {
                    h3 {
                        text-align: center;
                        font-size: calc(24px + 0.25vw);
                    }

                    p {
                        font-size: calc(24px - 0.25vw);
                        margin: 0;
                    }

                    .address {
                        padding: 20px 0;
                    }

                    text-align: center;
                    font-size: calc(24px + 0.25vw);
                }

                .map {
                    width: 100%;
                    height: 500px;
                    margin-top: 20px;
                }
            }
        }
    }
}
@media screen and (max-width:768px) {
    .corporate-top {

        .overview {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;
            padding-top: 10px;
            text-align: center;

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
                margin: 20px 0;
            }

            dl {
                width: 100%;
                border-top: none;
                padding: 0;
                display: block;
                text-align: left;

                > dt {
                    width: 100%;
                    font-size: 30px;
                    font-size: calc(24px - .5vw);
                    line-height: 1em;
                    display: block;
                    background: #eee;
                    padding: 13px 3.84615%;
                    box-sizing: border-box;
                }

                > dd {
                    width: 100%;
                    font-size: 30px;
                    font-size: calc(24px - 2vw);
                    line-height: 1.8em;
                    display: block;
                    padding: 15px 3.84615%;
                    box-sizing: border-box;

                    h3 {
                        font-weight: bold;
                    }

                    span {
                        font-size: calc(24px - 1.75vw);
                    }

                    > dl {
                        display: -ms-flexbox;
                        display: flex;
                        border: none;
                        padding: 0;
                        margin-bottom: 5px;

                        > dt {
                            -ms-flex-preferred-size: 215px;
                            flex-basis: 215px;
                            font-size: 16px;
                            font-size: 1.6rem;
                            line-height: 1.6875em;
                            letter-spacing: .1em;
                            font-weight: 100;
                            background: #fff;
                            padding: 0;
                        }

                        > dd {
                            font-size: 16px;
                            font-size: 1.6rem;
                            line-height: 1.6875em;
                            letter-spacing: .1em;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .facility {
            width: 100%;
            max-width: 1240px;
            margin: 0 auto;
            text-align: center;

            .inner {
                max-width: 600px;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                padding: 30px 0;

                img{
                    width:300px;
                }
            }

            span, p, h2, h3 {
                color: #454545;
            }

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
            }
        }

        .access {
            width: 100%;
            text-align: center;

            span, p, h2, h3 {
                color: #454545;
            }

            h2 {
                font-size: calc(24px + 0.5vw);
                display: inline-block;
                border-bottom: 2px solid #d7003a;
            }

            .place {
                padding-top: 30px;

                .area {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                }

                .text {
                    h3 {
                        text-align: center;
                        font-size: calc(24px + 0.25vw);
                    }

                    p {
                        font-size: calc(24px - 1vw);
                        margin: 0;
                    }

                    .address {
                        padding: 20px 0;
                    }

                    text-align: center;
                    font-size: calc(24px + 0.25vw);
                }

                .map {
                    width: 100%;
                    height: 500px;
                    margin-top: 20px;
                }
            }
        }
    }
}